@media only screen and (max-width: 739px) {
    .nav li {
        display: none;
    }
    
    .nav li:first-child {
        display: block;
    }

    .slider-heading h1 {
        display: none;
    }
    .content-item {
        float: none;
        width: 100%;
    }
}

@media only screen and (min-width: 740px) and (max-width: 1023px) {
    .content-item {
        width: 50%;
    }
}

@media only screen and (max-width: 1023px) {
    #slider {
        margin: 0;
    }
}